<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Transactions History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
        <ion-list-header lines="inset">
          <ion-grid>
            <ion-row *ngFor="let history of historyList"size="12">
              <ion-col *ngIf="history.totalPrice>0">
                <ion-label color="danger">{{history.date}}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let history of historyList"size="12">
              <ion-col *ngIf="history.totalPrice>0">
                <ion-label>${{history.totalPrice}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>       
        </ion-list-header>
    </ion-card-content>
  </ion-card>
</ion-content>
