<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="12">  
          <ion-button [routerLink]="['/current-order']" color="primary">CHECK CURRENT ORDER</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">  
          <ion-button [routerLink]="['/home']" color="primary">UPDATE CURRENT ORDER</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">  
          <ion-button [routerLink]="['/history']" color="primary">PREVIOUS ORDERS</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">  
          <ion-button (click)="newOrder()" color="primary">NEW ORDER</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</div>
</ion-content>
