<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Current Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-label class="text">${{currOrder.totalPrice}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-label class="text">{{currOrder.totalQuantity}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-list>
          <ion-item (click)="removeFromOrder(pizza)"*ngFor="let pizza of currOrder.pizzaList" >
            <ion-row *ngIf="pizza.price>0">
              <ion-col>
                <ion-label>
                  Topping: {{pizza.topping}}
                </ion-label>
                <ion-label>
                  Size: {{pizza.size}}
                </ion-label>
              </ion-col>
              <ion-col>
                <ion-label>
                  ${{pizza.price}}
                </ion-label>
                <ion-label>
                  Quantity: {{pizza.quantity}}
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <section>
      <ion-button (click)="placeOrder()" color="success">PLACE ORDER</ion-button>
    </section>

  </ion-grid>

</ion-content>

